#video{
    background: #000;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100vh;
}
/* 
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up) */
#vision{
    background: #000;
    border-radius:2em;
    color: aliceblue;
    padding: 1%;
    margin: 1%;
    text-align: center;
    justify-content: center;
}
#vision p{
    font-size: larger;
    text-align: center;
    justify-content: center;
}
#Mission{
    background: #000;
    border-radius:2em; 
    color: aliceblue;
    padding: 1%;
    margin: 1%;
    text-align: center;
    justify-content: center;
}
#Mission p{
    font-size: larger;
    text-align: center;
    justify-content: center;
}

.aboutus p{
    font-size: larger;
    text-align: center;
    justify-content: center;
}
.aboutus{
    height: 50vh;
    position: relative;
    padding: 2%;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 90%;
}

.parent {
    text-align: center;
    justify-content: center;
  }
  .child {
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    width: 45%;
    height: 300px;

  }

  #sponsors{
    margin: auto;
    position: relative;
    width: 50%;
  }

  #sponsors img{
    margin: auto;
    position: relative;
    width: 100%;
    height: 50vh;
  }

  #contactUs {
    margin: auto;
    position: relative;
    width: 100%;
  }

  .Contacts {
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    width: 30%;
    height: auto;
  }

  .teampic{
    display: inline-block;
    vertical-align: middle;
    justify-content: center;
    width: 50%;
    height: auto;

  }
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 600px) { 
    #about{
       height: 400px;
    }
 }

@media (max-width: 4700px) { 
    #about{
       height: 500px;
    }
 }
@media (max-width: 768px) { 
    #vision{
       margin-bottom: 12px;
    }
 }
